.contact-box{
    width: 50%;
    height: 50%;
    background:linear-gradient(135deg,rgba(255,255,255,0.1),rgba(255,255,255,0));
    backdrop-filter: blur(5px);
    border-radius: 20px;
    border: 0.5px solid rgba(255,255,255,0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  
  }
  
  .contactinput{
    background-color:inherit;
    width: 60%;
    height: 10%;
    color: #fff;
  }
  #contactbtn{
    background-color: #FFC93C;
    font-weight:600;
    color: #000;
  }